# Modèle public — ne mettez jamais de vraie valeur ici.
MODAL_TOKEN_ID= erza6504
MODAL_TOKEN_SECRET=modal token set --token-id ak-jXyKlHGTktA16hIDQcxhfu --token-secret as-LgEkNOWAAj3AQZlFOs8tqW --profile=erza6504
